:root {
	--Background: rgb(30, 30, 30);
	--BackgroundActive: rgb(40, 40, 40);
	--Foreground: rgb(60, 60, 60);
	--ForegroundActive: rgb(75, 75, 75);
	--Text: rgb(255, 255, 255);
}

* {
	font-family: 'Consolas', Courier, monospace;
}

body {
	background-color: var(--Background);
	overflow: hidden;
	margin: 0px;
	display: grid;
	grid-template-columns: max-content max-content 1fr;
	grid-gap: 0px;
}

button {
	border: solid var(--ForegroundActive) 1px;
	background: var(--BackgroundActive);
	color: var(--Text);

	&:hover {
		background: var(--Foreground);
	}

	&:active {
		background: var(--ForegroundActive);
	}

	&:disabled {
		background: var(--Background);
		color: var(--Foreground)
	}
}

input[type="checkbox"] {
	margin: 0px;
	appearance: none;
	display: flex;
	align-content: center;
	justify-content: center;
	border: solid var(--ForegroundActive) 1px;

	&::before {
		content: "";
		width: 1rem;
		height: 1rem;
		transform: scale(0);
		background-color: var(--Text);
	}

	&:disabled::before {
		background-color: var(--BackgroundActive);
	}

	&:checked::before {
		transform: scale(75%);
	}
}


input[type="number"] {
	border: solid var(--ForegroundActive) 1px;
	background: var(--Foreground);
	color: var(--Text);
	appearance: textfield;

	&:disabled {
		color: var(--BackgroundActive);
	}
}

input[type="text"] {
	border: solid var(--ForegroundActive) 1px;
	background: var(--Foreground);
	color: var(--Text);
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	width: 100%;


	&:disabled {
		color: var(--BackgroundActive);
	}
}

span, label, div {
	color: var(--Text);
	text-wrap: nowrap;
}

canvas {
	border: var(--Text) 1px solid;
	padding: 0px;
}

#MainCanvas {
	width: calc(100vh - 2px);
	height: calc(100vh - 2px);
}

#ManagerContainer {
	border: var(--Text) 1px solid;
	margin-left: -1px;
	width: calc(100vw - 100vh);
	display: flex;
}

/* Settings panel */
.SettingsPanel {
	border: var(--Text) 1px solid;
	margin: -1px;
	width: calc(100% - 1px);
}

.SettingsPanel .Title {
	display: inline-block;
	width: 100%;
	text-align: center;
	background: rgba(0.1, 0.1, 0.1, 0.4);
	border-bottom: outset 1px;
	margin-bottom: 2px;
	border-top: var(--Text) 1px solid;
	margin-top: -1px;

	&.Spaced {
		margin-top: 8px;
	}
}

.SettingsPanel .Entry {
	display: flex;
	margin-top: 1px;
}

.SettingsPanel .Entry .Name {
	width: 30%;
	position: absolute;
	padding-left: 4px;
}
.SettingsPanel .Entry .Value {
	display: inline-flex;
	width: 100%;
	margin-left: 30%;
	margin-right: 30%;
	max-width: 40%;
	gap: 1px;
	z-index: 1;

	&.Left {
		margin-left: calc(60% - 3px);
		margin-right: 0%;
	}
}
.SettingsPanel .Entry .Value button {
	width: 100%;
}

.List {
	border: var(--ForegroundActive) 1px solid;
	width: 100%;
	height: fit-content;
	overflow-y: auto;
}

.List .Item {
	user-select: none;
	text-align: center;
	transition: border-width 100ms ease-in-out;

	&.Selected {
		border-right: 4px inset;
		border-left: 4px outset;

		&:hover {
			border-right: 2px inset;
			border-left: 2px outset;
		}
	}

	&:hover {
		border-right: 2px outset;
		border-left: 2px inset;
		background-color: rgba(0.1, 0.1, 0.1, 0.2);
	}
}