[submodule "LIBRARIES/lodepng"]
	path = LIBRARIES/lodepng
	url = https://github.com/lvandeve/lodepng.git
[submodule "LIBRARIES/argparse"]
	path = LIBRARIES/argparse
	url = https://github.com/p-ranav/argparse.git
