:root {
	--Background: rgb(30, 30, 30);
	--BackgroundActive: rgb(40, 40, 40);
	--Foreground: rgb(60, 60, 60);
	--ForegroundActive: rgb(75, 75, 75);
	--Text: rgb(255, 255, 255);
}

* {
	font-family: 'Fira Code Retina', Courier, monospace;
}

body {
	background-color: var(--Background);
	display: inline-flex;
	margin: 0px;
	overflow: hidden;
}

button {
	border: 1px solid;
	background: var(--BackgroundActive);
	color: var(--Text);
}

button:hover {
	background: var(--Foreground);
}

button:active {
	background: var(--ForegroundActive);
}

button:disabled {
	background: var(--Background);
	color: var(--Foreground)
}


span, label, div {
	color: var(--Text);
}

canvas {
	border: var(--Text) 1px solid;
	padding: 0px;
}


#MainCanvas {
	width: calc(100% - 2px);
	height: auto;
}

#CanvasContainer {
	display: grid;
	width: calc(100vh - 100px);
	max-width: calc(100vh - 100px);
	height: calc(100vh - 4px);
	border: var(--Text) 1px solid;
	padding: 1px;
}

#ManagerContainer {
	display: grid;
	width: calc(calc(100vw - calc(100vh - 100px)) - 7px);
	height: calc(100vh - 4px);
	border: var(--Text) 1px solid;
	padding: 1px; position: relative;
	left: -1px;
}

.SidePanel {
	border: var(--Text) 1px solid;
	margin: -2px;
	margin-bottom: 1px;
	height: calc(100% + 2px);
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.InnerPanel {
	border: var(--Text) 1px solid;
	margin: -1px;
	width: calc(100% - 1px);
}

.OptionName {
	display: inline-block;
	width: 100%;
	text-align: center;
}

.ListContainer {
	height: 100%;
	max-height: calc(100vh - 21px);
	display: inherit;
	text-align: center;
	overflow-y: scroll;
}

.ListItem {
	user-select: none;
	background: rgba(0,0,0,0.4);
}

.ListItem:hover {
	background: rgba(0,0,0,0.2);
}
